<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Owner Index File</title>
</head>
<body>
<h1 th:text="'Owner list'">Owner List...</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
    </tr></thead>
    <tbody>
    <tr th:each="owner:${owners}">
        <td th:text="${owner?.id}">1</td>
        <td th:text="${owner?.firstName}">Joe</td>
        <td th:text="${owner?.lastName}">Hi</td>
    </tr>
    </tbody>
</table>
</body>
</html>
