<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>List of Vets</title>
</head>
<body>
<h2 th:text="'List of Vets'">List of Vets... </h2>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>first Name</th>
            <th>last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet:${vets}">
            <td th:text="${vet.firstName}"></td>
            <td th:text="${vet.lastName}"></td>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>
